<h1>Password Generator</h1>

<div>
  <label for="length">Enter length</label>
  <input id="length" (change)="onChangeLength($event)" />
</div>

<div>
  <label for="letters">Use letters</label>
  <input id="letters" type="checkbox" (change)="onChangeLetters()" />
</div>

<div>
  <label for="numbers">Use numbers</label>
  <input id="numbers" type="checkbox" (change)="onChangeNumbers()" />
</div>

<div>
  <label for="symbols">Use symbols</label>
  <input id="symbols" type="checkbox" (change)="onChangeSymbols()" />
</div>

<div>
  <button type="button" (click)="onClickHandler()">Generate!</button>
  <!-- // event binding -->
</div>

<div>
  <label>Your Password</label>
  <input [value]="password" />
  <!--  property binding -->
</div>

<p>{{ password }}</p>
{{ length }}
<!-- interpolation -->
